.footer{
flex-basis: 10%;
position: absolute;
position: fixed;
bottom: 0;
background-color:rgb(241, 232, 245);
font-size: 20px;
width: 100%;
padding: 5px;
font-weight: bold;
text-align: center;
color: black;
font-family:'Times New Roman', Times, serif;

}



